{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if not blog %}
        <p class="text-muted center"> Nothing here </p>
    {% else %}
        {% for i in blog %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.content|truncatechars:300 }}</p>
                <p class="card-text"><small class="text-muted">Like : {{ i.like_count }}</small></p>
                <p class="card-text"><small class="text-muted">Comment : {{ i.comment_count }}</small></p>
                <p class="card-text"><small class="text-muted">By : {{ i.posted_by }}</small></p>
                <p class="card-text"><small class="text-muted">Posted at :{{ i.posted_time }}</small></p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock content %}